.card {
  position: relative;
  display: grid;
  gap: 1rem;
  justify-items: center;
  transition: border 0.5s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(42, 123, 155, 0.4) 0%,
    rgba(87, 199, 133, 0.4) 50%,
    rgba(237, 221, 83, 0.4) 100%
  );
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: -1;
  border-radius: inherit;
}

.selected {
  border: 5px solid gold;
}

.card.selected::before {
  opacity: 1;
}

.pokemonImg {
  max-width: 100%;
  height: 150px;
  display: block;
}

.btnAdd {
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btnRemove {
  background-color: #f44336; /* Rojo */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
