.input {
    padding: 1rem 2rem;
    border:2px solid black;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 1rem;
}

.input:focus {
    border-color: lightcoral;
}

label {
    cursor: pointer;
}